@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  background-color: #ff7265;
  padding: 20px;
  color: #fff;
}

.nav > img {
  height: 20px;
  border: none;
  border-radius: 50%;
}

.main-sec {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin: 50px auto;
  max-width: 950px;
  justify-content: center;
}

.main-sec > img {
  width: 350px;
  height: 430px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.loc--div {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.loc--div > a {
  color: #a3a3a3;
}

.loc--div > img {
  height: 17px;
  width: 17px;
  /* margin-right: 5px; */
}

.loc--div > p{
  margin: 0 15px 0 7px;
}

.header-title {
  margin: 0 0 15px 0;
}

.header-date {
  margin-bottom: 8px;
}

.description-text {
  line-height: 130%;
}